{% extends '/layout.html' %}

{% block title %} Activities {% endblock %}

{% block main %}

<h1>Activities</h1>

<table>
  <tr>
    <th>Name</th>
    <th>|</th>
    <th>Instructor</th>
    <th>|</th>
    <th>Time</th>
    <th>|</th>
    <th>Studio</th>
    <th>|</th>
    <th>Level</th>
  
  </tr>
  {% for activity in activities %}
  <tr>
    
    <td><a href="/activities/{{ activity.id }}"> {{activity.name}} </a></td>
    <th>|</th>
    <td><a href="/activities/{{ activity.id }}"> {{activity.instructor}} </a></td>
    <th>|</th>
    <td><a href="/activities/{{ activity.id }}"> {{activity.time}} </a></td>
    <th>|</th>
    <td><a href="/activities/{{ activity.id }}"> {{activity.studio}} </a></td>
    <th>|</th>
    <td><a href="/activities/{{ activity.id }}"> {{activity.level}} </a></td>
    
  </tr>
  {% endfor %}
</table>
{% endblock %}