{% extends 'layout.html' %}

{% block title %} New Activity {% endblock %}

{% block main %}
<div class="form">
<form action="/activities" method="post">
    <div>
        <label for="name">Name: </label>
        <input type="text" id="name" name="name" placeholder="Name" required autofocus>
    </div>

    <div>
        <label for="instructor">Instructor: </label>
        <input type="text" id="instructor" name="instructor" placeholder="Instructor" required>
    </div>

    <div>
        <label for="time">Time: </label>
        <input type="datetime-local" id="time" name="time" placeholder="Time" required>      
    </div>

    <div>
        <label for="studio">Studio</label>
        <input type="text" id="studio" name="studio" placeholder="Studio" required>
    </div>
    <div>
        <label for="level">Level</label>
        <input type="text" id="level" name="level" placeholder="Level" required>
    </div>
    
    <center><button type="submit" class="button2">Add Activity</button></center>

</form>
</div>
{% endblock %}