{% extends '/layout.html' %}

{% block title %} New Member {% endblock %}

{% block main %}
<div class="form">
<form action="/members" method="post">
    <div>
        <label for="First name">First name: </label>
        <input type="text" id="First name" name="first_name" placeholder="First name" required autofocus>
    </div>

    <div>
        <label for="Last name">Last name: </label>
        <input type="text" id="Last name" name="last_name" placeholder="Last name" required>
    </div>

    <div>
        <label for="email">Email: </label>
        <input type="email" id="email" name="email" placeholder="Email" required>      
    </div>

    <div>
        <label for="phone">Phone</label>
        <input type="tel" id="phone" name="phone" placeholder="Phone" required>
    </div>
    <center><button type="submit" class="button2" >Add Member</button></center>
    <!-- <center><a href="/members" class="button2" type="submit">Add Member</a></center> -->
</form>
</div>

{% endblock %}